@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://th-thumbnailer.cdn-si-edu.com/axtbiDQBffEiX4wMFD7gD-kYis8=/1000x750/filters:no_upscale():focal(800x602:801x603)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/bf/d2/bfd27527-fc66-4474-9bba-30835c2256a2/gettyimages-1269429519_web.jpg" />
</div>
